<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Mi Ferreteria</title>
        <meta charset="UTF-8"/>
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="plantilla/plantilla :: header"/>
        
        <div class="contenido">
        <h2>Últimas ofertas disponibles para usted</h2>
        <br>
        <div th:if="${articulos != null and !articulos.empty}">
        <article>
            <header><i>Escalera de aluminio 5m</i></header>
            
            <figure>
                <img src="images/escalera.jpg" alt="" width="200"/>
                <figcaption><strong>40% de descuento!</strong></figcaption>
            </figure>
            <footer>Agregar al carrito</footer>
        </article>
        <br>
        <article>
            <header><i>Tornillo de estufa milimétrico</i></header>
            
            <figure>
                <img src="images/tornillo.jpg" alt="" width="200"/>
                <figcaption><strong>15% de descuento!</strong></figcaption>
            </figure>
            <footer>Agregar al carrito</footer>
        </article>
        <br>
        <br>
        
        <h2>Los hogares más limpios</h2>
        <br>
        <div th:if="${articulos != null and !articulos.empty}">
        <article>
            <header><i>Esponja cero rayas de doble uso</i></header>
            
            <figure>
                <img src="images/esponjas.jpg" alt="" width="200"/>
            </figure>
            <footer>Agregar al carrito</footer>
        </article>
        <br>
        <article>
            <header><i>Jabón antibacterial</i></header>
            <img src="images/jabon.jpg" alt="" width="200"/>
            <figure>
            </figure>
            <footer>Agregar al carrito</footer>
        </article>
        <br>
        <br>
        
        <h2>Decore sus jardines con lo mejor</h2>
        <br>
        <div th:if="${articulos != null and !articulos.empty}">
        <article>
            <header><i>Parasol Shanghai</i></header>
            
            <figure>
                <img src="images/parasol.jpg" alt="" width="200"/>
            </figure>
            <footer>Agregar al carrito</footer>
        </article>
        <br>
        <article>
            <header><i>Rollo de alambre negra 15m</i></header>
            <img src="images/alambre.jpg" alt="" width="200"/>
            <figure>
            </figure>
            <footer>Agregar al carrito</footer>
        </article>
        </div>
            <div th:if="${articulos == null or articulos.empty}">
                No tenemos productos que mostrar...
            </div>
        </div>
        <footer th:replace="plantilla/plantilla :: footer"/>
    </body>
</html>
